/* Override Bootstrap defaults with Zudbu specific CSS to */

html, body {
	margin:0;
	padding:0;
	height:100%;
}

body {
    font-family: 'Ubuntu Condensed', sans-serif;
}

/* Search button*/
.search {
  margin: 5px;
}

/* CUSTOMIZE Jumbotron
-------------------------------------------------- */

.jumbotron {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 350px;
  margin-bottom: 40px;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 350px;
  background-color: #777;
}

.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 350px;
}

/* Center and crop slides to fit screen size */
.slide{
   /*Note: background image url is to be set dynamically in html form*/
   background:  no-repeat center center;
   background-size: cover;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 40px;
  text-align: center;
}

.marketing h2 {
  font-weight: normal;
}

.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  line-height: 1;
  letter-spacing: -1px;
}

.carousel-inner{
  width:100%;
  max-height: 350px !important;
}

ul.errors {
  color:red;
  margin:0;
  margin-top:5px;
  padding:0;
  list-style-type:none;
}


/* Display formatting
-------------------------------------------------- */
.border {
  border-width:thin;
  border-style: solid;
  border-color: #efefef;
  padding: .5em;
}

.invisible {
  display: none;
}

.spaced{
  margin-top: 1em;
  margin-bottom: 1em;
}

.logo {
  display: inline;
  width: 55px;
  height: 55px;
  /*margin-top: 25px;
  padding-top: 10px;*/
}

.headeritem {
  color: #9d9d9d;
}

.flash_message {
  width:100%;
  font-size: 1.5em;
  text-align:center;
  background-color:#98AFC7;
  color: white;
  font-weight:bold;
  margin: .05em;
  padding: .05em;
  border-radius: .2em;
}

.user {
  font-weight: bold;
  color: #a0a0b0;
}

.relative{
  position: relative;
}


.front {
  z-index:3;
}





/* Keep footer at bottom.  Inspired by cssreset.com
----------------------------------------------------*/
 /* Make sure the value for 'padding-bottom' on #content is equal to or
  greater than the height of #footer.*/
#wrapper {
	min-height:100%;
	position:relative;
}

#content {
	padding-bottom:50px; /* Height of the footer element */
}


footer{
  width:60%;
  padding-top: 10px;
  margin-left: 20%;
  margin-right: 20%;
  height:50px;
  position:absolute;
  bottom:0;
}

.footerItem li{
  display: block;
  padding: 10px 10px;
  text-decoration: none;
  list-style-type: none;
  float: left;
  position:relative;
	bottom:0;
  text-align: center;
}

/* Covers the specified area - useful to set
clickable areas when applied to an <a> element
----------------------------------------------*/
.expanded{
  position:absolute;
  width:100%;
  height:80%;
  top:0;
  left: 0;
  z-index: 11;
}

.expanded-60{
  position:absolute;
  width:60%;
  height:80%;
  top:0%;
  left: 20%;
  z-index: 11;
}


/* Article search - show
------------------------------------------------ */
.img-thumbnail{
  width: 150px;
  height: 88px;
  float: left;
  margin-right: 1em;
}

.img-centered{
  margin: auto;
  width: 100%;
}

.right{
  text-align: right;}


/* Box for a search result */
.result {
  border-width:thin;
  border-style: solid;
  border-color: #ddd;
  border-radius: 5px;
  background-color: #efefef;
  padding: .5em;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media screen and (min-width: 768px){
  .carousel-caption {
    padding-bottom: 40px;
  }
}

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }

  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }

  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 45px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
